<table>
  <tr>
      <td>Username:</td>
      <td>
          <input type='text' name='username' [(ngModel)]='username'>
      </td>
  </tr>
  <tr>
      <td>Password:</td>
      <td>
          <input type='password' name='password' [(ngModel)]='password'>
      </td>
  </tr>
  <tr>
      <td>
          <button (click)='login()'>Login</button>
      </td>
  </tr>

</table>

<tr>
  <td>
    <a routerLink="../register">Register</a>
  </td>
</tr>

<tr>
  <td>
    <span class="error">{{errorMessage}}</span>
  </td>
</tr>
