<table>
  <tr>
      <td>Name:</td>
      <td>
          <input type='text' name='name' [(ngModel)]='name'>
      </td>
  </tr>
  <tr>
    <td>Nation:</td>
    <td>
      <select id='nation' name='nation' [(ngModel)]='nation'>
        <option value="all">All</option>
        <option *ngFor="let nat of nations">
          {{nat.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Sport:</td>
    <td>
      <select id='sport' name='sport' [(ngModel)]='sport'>
        <option value="all">All</option>
        <option *ngFor="let spr of sports">
          {{spr.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>
      <input type="radio" name="gender" value="M" [(ngModel)]='gender'>M
      <input type="radio" name="gender" value="F" [(ngModel)]='gender'>F
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="checkbox" name="medals" [(ngModel)]='onlyMedalists'> Show only medal winners
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
        <button (click)='search()'>Search</button>
    </td>
  </tr>
</table>

<br/>
<table>
  <tr>
      <td>Rang</td>
      <td>| Nation</td>
      <td>| Athlete</td>
      <td>| Gold medals</td>
      <td>| Silver medals</td>
      <td>| Bronze medals</td>
      <td>| Total medals</td>
  </tr>
  <tr *ngFor="let ath of athletsToShow, let i = index">
    <ng-container *ngIf="i < maxIndex && i >= minIndex && ath.show">
      <td>{{i + 1}}</td>
      <td>| {{ath.nation}}</td>
      <td>| {{ath.name}} {{ath.surname}}</td>
      <td>| {{ath.gold}}</td>
      <td>| {{ath.silver}}</td>
      <td>| {{ath.bronze}}</td>
      <td>| {{ath.gold + ath.silver + ath.bronze}}</td>
    </ng-container>

  </tr>

</table>
<table>
  <tr>
    <td>
      <button id="prev" (click)="prev()">Previous</button>
    </td>
    <td>
      <button id="next" (click)="next()"> Next</button>
    </td>
    <td>
      Page {{curPage}} of {{numOfPages}}
    </td>
    <td>
      <input type="radio" id="pag" name="pag" [value]="20" [checked] [(ngModel)]="numToShow" (change)="setPagination()"> 20
      <input type="radio" id="pag" name="pag" [value]="50" [(ngModel)]="numToShow" (change)="setPagination()"> 50
      <input type="radio" id="pag" name="pag" [value]="100" [(ngModel)]="numToShow" (change)="setPagination()"> 100
    </td>
  </tr>
</table>


