<table>
  <tr>
    <td>New sport:</td>
    <td>
      <input type='text' name='newSport' [(ngModel)]='newSport'>
    </td>
  </tr>
  <tr>
    <td>New discipline:</td>
    <td>
      <input type='text' name='newDiscipline' [(ngModel)]='newDiscipline'>
    </td>
  </tr>
  <tr>
    <td>Sport:</td>
    <td>
      <select id='sport' name='sport' [(ngModel)]='sport' (change)="selectFirstDiscipline()">
        <option *ngFor="let spr of sports">
          {{spr.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Discipline:</td>
    <td>
      <select id='discipline' name='discipline' [(ngModel)]='discipline'>
        <ng-container *ngFor="let dis of disciplines">
          <option [ngValue]='dis.name' *ngIf="dis.sport == sport">
            {{dis.name}}
          </option>
        </ng-container>
      </select>
    </td>
  </tr>
  <tr>
    <td>
        <button (click)='enterSport()'>Enter</button>
    </td>
  </tr>
</table>

<br/>

<table>
  <tr>
    <td>Sport</td>
    <td>| Discipline</td>
  </tr>
  <tr *ngFor="let dis of disciplines">
      <td *ngIf="dis.status == 1">{{dis.sport}}</td>
      <td *ngIf="dis.status == 1">| {{dis.name}}</td>
      <td *ngIf="dis.status == 1">
        <button (click)='remove(dis.name)'>Remove</button>
      </td>
  </tr>
</table>
