
header {
  background-color: #666;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: white;
}

td {
  float: right;
}

button {
  float: right;
}
