<table>
  <tr>
    <td>Competition:</td>
    <td>
      <select id='competition' name='competition' [(ngModel)]='competition'>
        <option [ngValue]="comp" *ngFor="let comp of competitions.values()">
          {{comp.sport}}, {{comp.discipline}}, {{comp.gender}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Delegate:</td>
    <td>
      <select id='delegate' name='delegate' [(ngModel)]='delegate'>
        <option [ngValue]="del" *ngFor="let del of delegates">
          {{del.name}} {{del.surname}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
        <button (click)='save()'>Save</button>
    </td>
  </tr>
</table>
<span class="error">{{errorMessage}}</span>
<br/>
<table>
  <tr>
      <td>Nation</td>
      <td>| Athlete</td>
      <td *ngIf="competition.sport === 'Tennis'">| Seed</td>
  </tr>
  <ng-container *ngFor="let ath of athletes.values()">
    <ng-container *ngFor="let dis of ath.disciplines">
      <tr *ngIf="dis == getDiscipline() && ath.gender == competition.gender">
        <td>{{ath.nation}}</td>
        <td>| {{ath.name}} {{ath.surname}}</td>
        <td *ngIf="ath.idSport == 1">
          | <input type="number" min='1' max='16' [value]="ath.seed" [(ngModel)]="ath.seed">
        </td>
        <td *ngIf='isCompeting(ath, competition.id)'>
          <button (click)="setCompeting(ath, competition.id, false)">Unregister</button>
        </td>
        <td *ngIf='!isCompeting(ath, competition.id)'>
          <button (click)="setCompeting(ath, competition.id, true)">Register</button>
        </td>

      </tr>
    </ng-container>


  </ng-container>

</table>
