<table>
  <tr>
    <td>Competition:</td>
    <td>
      <select id='competition' name='competition' [(ngModel)]='competition' (change)="getEventsForCompetition()">
        <option [ngValue]="comp" *ngFor="let comp of competitions.values()">
          {{comp.sport}}, {{comp.discipline}}, {{comp.gender}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
  <tr>
    <td></td>
    <td>
        <button (click)='save()'>Save</button>
    </td>
  </tr>
</table>
<span class="error">{{errorMessage}}</span>

<br/>

<table>
  <tr>
      <td>Event</td>
      <td>| Round</td>
      <td>| Location</td>
      <td>| Start - End date</td>
      <td>| Event date</td>
      <td>| Time</td>
  </tr>
  <tr *ngFor="let ev of events">
    <td>{{ev.id}}</td>
    <td>| {{ev.round}}</td>
    <td>| {{ev.location}}</td>
    <td>| {{ev.competitionPeriod}}</td>
    <td>|
      <input type="date" disabled="{{competition.status != 1}}" name="date" [value]="ev.date" [(ngModel)]='ev.date'>
    </td>
    <td>|
      <input type="time" disabled="{{competition.status != 1}}" name="time" [value]="ev.time" [(ngModel)]='ev.time'>
    </td>
  </tr>

</table>
