<table>
  <tr>
    <td>Sport:</td>
    <td>
      <select id='sport' name='sport' [(ngModel)]='sport' (change)="selectFirstDiscipline()">
        <option *ngFor="let spr of sports">
          {{spr.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Discipline:</td>
    <td>
      <select id='discipline' name='discipline' [(ngModel)]='discipline'>
        <ng-container *ngFor="let dis of disciplines">
          <option [ngValue]='dis.name' *ngIf="dis.sport == sport && dis.status == 1">
            {{dis.name}}
          </option>
        </ng-container>
      </select>
    </td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>
      <input type="radio" name="gender" value="M" [(ngModel)]='gender'>M
      <input type="radio" name="gender" value="F" [(ngModel)]='gender'>F
    </td>
  </tr>
  <tr>
  <tr>
    <td>Name:</td>
    <td>
        <input type='text' name='name' [(ngModel)]='name'>
    </td>
  </tr>
  <tr>
    <td>Surname:</td>
    <td>
        <input type='text' name='surname' [(ngModel)]='surname'>
    </td>
  </tr>
  <tr>
    <td>Athlete ID:</td>
    <td>
        <input type='text' name='id' [(ngModel)]='idAthlete'>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
        <button (click)='addAthlete()'>Add</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button (click)='uploadFile()'>Upload file</button>
    </td>
  </tr>
</table>
<span class="error">{{errorMessage}}</span>
<br/>
<table>
  <tr>
    <td>Sport</td>
    <td>| Discipline</td>
    <td>| ID</td>
    <td>| Name</td>
    <td>| Surname</td>
  </tr>
  <ng-container  *ngFor="let ath of athletes">
    <tr *ngFor="let dis of ath.disciplinesObject">
      <td>{{ath.sport}}</td>
      <td>| {{dis}}</td>
      <td>| {{ath.id}}</td>
      <td>| {{ath.name}}</td>
      <td>| {{ath.surname}}</td>
      <td>
        <button (click)="removeAthlete(ath, dis)">Remove</button>
      </td>
    </tr>
  </ng-container >
</table>
