<table>
  <tr>
    <td>Competition:</td>
    <td>
      <select id='competition' name='competition' [(ngModel)]='competition' (change)="getAllParticipants()">
        <option [ngValue]="comp" *ngFor="let comp of competitions.values()">
          {{comp.sport}}, {{comp.discipline}}, {{comp.gender}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
  <tr>
    <td></td>
    <td>
        <button (click)='generate()'>Generate</button>
    </td>
  </tr>
</table>

<br/>

<table>
  <tr>
    <td>Nation</td>
    <td>| Athlete</td>
  </tr>

  <tr *ngFor="let ath of groupAthletes">
    <td>{{ath.nation}}</td>
    <td>| {{ath.name}} {{ath.surname}}</td>
  </tr>

</table>

<br/>

<table>
  <tr>
    <td>Event</td>
    <td>| Round</td>
    <td>| Athlete</td>
  </tr>

  <tr *ngFor="let ath of groupAthletes">
    <ng-container *ngIf="ath.event != null">
      <td>{{ath.event}}</td>
      <td>| {{ath.round}}</td>
      <td>| {{ath.name}} {{ath.surname}}</td>
    </ng-container>
  </tr>

</table>
