<table>
  <tr>
    <td>Competition:</td>
    <td>
      <select id='competition' name='competition' [(ngModel)]='competition' (change)="getAllParticipants()">
        <option [ngValue]="comp" *ngFor="let comp of competitions.values()">
          {{comp.sport}}, {{comp.discipline}}, {{comp.gender}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
  <tr>
    <td></td>
    <td>
        <button (click)='generate()'>Generate</button>
    </td>
  </tr>
</table>

<br/>

<table>
  <tr>
    <td>Event</td>
    <td>| Round</td>
    <td>| Series</td>
    <td>| Athlete</td>
  </tr>

  <tr *ngFor="let par of participantes">
    <ng-container *ngIf="par.idEvent != null">
      <td>{{par.idEvent}}</td>
      <td>| {{par.round}}</td>
      <td>| {{par.series}}</td>
      <td>| {{par.athlete}}</td>
    </ng-container>
  </tr>

</table>
