<table>
  <tr>
    <td>Sport:</td>
    <td>
      <select id='sport' name='sport' [(ngModel)]='sport'>
        <option *ngFor="let spr of sports">

        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Discipline:</td>
    <td>
      <select id='discipline' name='discipline' [(ngModel)]='discipline'>
        <option *ngFor="let dis of disciplines">

        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>
      <input type="radio" name="gender" value="M" [(ngModel)]='gender'>M
      <input type="radio" name="gender" value="F" [(ngModel)]='gender'>F
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
        <button (click)='generateDraw()'>Generate</button>
    </td>
  </tr>
</table>
