<table>
  <tr>
    <td>Sport:</td>
    <td>
      <select id='sport' name='sport' [(ngModel)]='sport' (change)="selectFirstDiscipline()">
        <option *ngFor="let spr of sports">
          {{spr.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Discipline:</td>
    <td>
      <select id='discipline' name='discipline' [(ngModel)]='discipline'>
        <ng-container *ngFor="let dis of disciplines">
          <option [ngValue]='dis.name' *ngIf="dis.sport == sport && dis.status == 1">
            {{dis.name}}
          </option>
        </ng-container>
      </select>
    </td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>
      <input type="radio" name="gender" value="M" [(ngModel)]='gender'>M
      <input type="radio" name="gender" value="F" [(ngModel)]='gender'>F
    </td>
  </tr>
  <tr>
    <td>Format:</td>
    <td>
      <select id='format' name='format' [(ngModel)]='format'>
        <option value="1">Max 8 competitors, final round, 1 shot, best result wins</option>
        <option value="2">Max 8 competitors, final round, 3 shot, best result wins</option>
        <option value="3">Max 8 competitors, final round, 6 shot, highest sum wins</option>
        <option value="4">Draw for 4 competitors</option>
        <option value="5">Draw for 8 competitors</option>
        <option value="6">Draw for 16 competitors</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Start date:</td>
    <td>
      <input type="date" name="start_date" [(ngModel)]='startDate'>
    </td>
  </tr>
  <tr>
    <td>End date:</td>
    <td>
      <input type="date" name="end_date" [(ngModel)]='endDate'>
    </td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>
      <select id='location' name='location' [(ngModel)]='location'>
        <option *ngFor="let loc of locations">
          {{loc.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
        <button (click)='addCompetition()'>Enter</button>
    </td>
  </tr>
</table>
<span class="error">{{errorMessage}}</span>
<br/>
<table>
  <tr>
      <td>Sport</td>
      <td>| Discipline</td>
      <td>| Gender</td>
      <td>| Start date</td>
      <td>| End date</td>
      <td>| Location</td>
  </tr>
  <tr *ngFor="let comp of competitions">
    <td>{{comp.sport}}</td>
    <td>| {{comp.discipline}}</td>
    <td>| {{comp.gender}}</td>
    <td>| {{comp.startDate}}</td>
    <td>| {{comp.endDate}}</td>
    <td>| {{comp.location}}</td>
  </tr>

</table>
